:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
  }

body {
  background-color: rgb(215, 215, 215);
  color: black;
  font-family: helvetica;
}


.pageth {
  padding-left: 300px;
  font-size: 24;
  text-align: center;
}

.title {
  color: black ;
  background-color:white;
  text-align: center;
  padding: 30px;
  margin-left: 35%;
  margin-right: 35%;
}

.construction{
  background-color: black;
  color: yellow;
  font-size: 3em;
  text-align: center;
}
