body{ margin:0;
  font-family:'tahoma';
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  margin:0;
  padding:20px;
}

nav {
	margin:0 auto;
  width:100%;
  height:auto;
  display:inline-block;
  background:#37bc9b;
  text-align: center;
}

nav ul {
	margin:0;padding:0;
  list-style-type:none;
  display:inline-block;
}

nav ul li {
	position:relative;
	margin:0 20px 0 0;
  display:inline-block;
}

nav ul li > a:after { content: ' »'; }

nav ul li > a:only-child:after { content: ''; }

nav ul li a {
	padding:20px;
  display:inline-block;
  color:white;
  text-decoration:none;
}

nav ul li a:hover {
  opacity:0.5;
}

nav ul li ul {
	display:none;
  position:absolute;
  left:0;
  background:#37bc9b;
  float:left;
}

nav ul li ul li {
	width:100%;
  border-bottom:1px solid rgba(255,255,255,.3);
}

nav ul li:hover ul {
  display:block;
}


proj-body div {
  margin-inline-end: 50%;
  padding-left: 3%;
  padding-top: 1%;
  margin-left: 25%;
  margin-right: 25%;
}

proj-body div2 {
  margin-inline-end: 50%;
  padding-left: 3%;
  padding-top: 1%;
}

proj-body div2 h2 {
  margin-inline-end: 50%;
  padding-left: 3%;
  padding-top: 1%;
}

proj-body div2 p {
  margin-inline-end: 50%;
  padding-top: 1%;
  padding-left: 5px;
}

proj-body div2 ul {
  margin-inline-end: 50%;
  margin:0;
}

proj-body div2 ul li {
  margin-inline-end: 50%;
  margin:0;
}

proj-body h2 {
  background-color:lightblue;
  margin: 0;
  padding: 10px;
  text-align: center;
}

proj-body h2 small {
  font-size: 60%;
}

proj-body p {
  margin:0;
  padding-top: 2px;
  line-height: 130%;
}

proj-body ul {
  margin:0;
}

proj-body ul li {
  margin:0;
  padding-bottom: 3px;
}

proj-body h3 {
  margin:0;
  padding-top: 2px;
  padding-bottom: 4px;
}

proj-body h4 {
  margin:0;
  padding: 0;
}

home-body h2 {
  text-align: center;
  background-color:lightblue;
  margin-left: 25%;
  margin-right: 25%;
  padding: 20px;
}

home-body p {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  line-height: 200%;
}